*{
margin: 0;
padding:0;
}


.header-loader{
width: 100%;
height: 100vh;
background-color: rgb(255, 255, 255);
}


.logoing{
position: absolute;
top: 30%;
left: 50%;
width: 50%;
height: 20vh;
background-color: rgba(237, 237, 237, 0.458);
transform: translate(-50%,-50%);
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
}

.logoing img{
width: 400px;
padding-left: 30%;
}


h2{
padding-left: 45%;
color:rgb(90, 150, 0);    
}


h1{
margin-bottom: 10px;
}
                    



.container-div{
position: absolute;
top: 60%;
left: 50%;
height: 31vh;
background-color: rgb(237, 237, 237);
transform: translate(-50%,-50%);
padding-top: 20px;
padding-bottom: 20px;
width: 80%; 
display: flex;
justify-content: space-between;
padding-left: 150px;
padding-right: 150px;
}

/*-------divider---*/

.divider{
margin-bottom: 20px;
}

.divider p{
margin-top: 15px;
}


.divider a{
text-decoration: none;
color: white;
}
                    

/*------------------------------networking link---*/
.networking-link{
background-color: rgb(112, 187, 0);     
padding: 10px 40px;    
border-radius: 10px;
transition: 1s;
cursor: pointer;
}

.networking-link:hover{
background-color: rgb(84, 141, 0);     
color: white;
}



/*------------------------------application-link---*/
.application-link{
background-color: rgb(0, 140, 187);     
padding: 10px 40px;    
border-radius: 10px;
box-shadow: 10px 0px 10px 0px;
cursor: pointer;
transition: 1s;
}

.application-link:hover{
background-color: rgb(0, 106, 141);   
color: white;
}
                    


/*------------------------------admin- right link---*/
.admin-right h1{
color: blue;
}

.admin-right p{
margin-bottom: 15px;
}
                     
.admin-right a{
margin-bottom: 15px;
text-decoration: none;
color: white;
}
                                                           
.admin-link{
background-color: rgb(0, 140, 187);     
padding: 10px 40px;    
border-radius: 10px;
cursor: pointer;
transition: 1s;
}
                                      
.admin-link:hover{
background-color: rgb(0, 106, 141);   
color: white;
}
                          