*{
margin:0;
padding: 0;

}

.header{
 background-image: url(header/full\ view\ profile\ page.jpeg);       
 width: 105%;  
 height: 100vh;          
}



.form-div{
position: absolute;       
top: 0;  
left:50%;

}